.form {
  display: flex;
  width: 100%;

  &__input {
    width: 90%;
    color: inherit;
    background-color: var(--color-grey-light-2);

    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    margin-right: -3.25rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
    }
  }

  &__button {
    border: none;
    background-color: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
